@media only screen and (max-width: 1000px){
    .grid-foot {
      display: grid;
      flex-direction: column;
    }
    .contacto {
        margin: 0 50px 0 20px;
    }
}
  





.pie {
    background-color: rgb(38, 38, 38);
    bottom: 0;
    display: block;
    color: white;
    margin-top: 20px;
}

.logo {
    width: 60px;
    height: 50px;
    margin-top: 10px;
}

.grid-foot {
    display: flex;
    place-content: center space-evenly;
    margin: 0px 30px 0px 30px
}

.contacto {
    display: grid;
    margin: 0 50px 0 50px;
}

.instagram {
    font-size: 25px;
}

.nosotros {
    display: grid;
    margin: 0 50px 0 50px;
}

.shop {
    display: grid;
    margin: 0 50px 0 50px;
}

.s1 {
    text-decoration: none;
    color: white;
}

.info {
    display: grid;
    margin: 0 200px 0 50px;
}

.row {
    display: inline;
}

.fa-instagram {
    color: white;
}