.sa {
    margin-top: 10px;
}

.ss {
    width: 95px;
    height: 45px;
}

.foto {
    display: flex;
    place-content: left;
}

.items {
    margin-top: 10px;
    color: rgb(38, 38, 38);
}

.header div i {
    font-size: 25px;
    align-self: center;
    margin: 15px 18px;
}

/* .fa-cart-shopping {
    color: rgb(38, 38, 38);
}

.fa-magnifying-glass {
    color: rgb(38, 38, 38);
} */



